/YGOB/DATA/AA.fsa
/YGOB/DATA/NT.fsa
/YGOB/DATA/PILLAR_AA_FILES
/YGOB/DATA/PILLAR_NT_FILES
/YGOB/EXP/MUSCLE_AA
/YGOB/SCRIPTS/log
/YGOB/EXP/MACSE_AA
/YGOB/EXP/MACSE_NT
/YGOB/EXP/IQTREE
/YGOB/EXP/TREERECS
/YGOB/EXP/GENERAX
/YGOB/EXP
